@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100vh;
  width: 100%;
  font-family: "Source Sans 4", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
}

/* TRACK  */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* HANDLE  */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover  */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


